.arrows svg {
  stroke: #2994d1;
  fill: transparent;
  stroke-width: 1px;
  animation: arrow 1.5s infinite;
  -webkit-animation: arrow 1.5s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

svg.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
}

svg.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
}

svg.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
}
